*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body
{
    height: 1200px;
    width: 100%;
    background-color: lightgray;
}
.header
{
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
}
.inner_header
{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: azure;
}
.name
{
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
}
.logo
{
    height: 100%;
    display: table;
    float: right;
}
.logo h1
{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.main
{
    width: 60%;
    height: 920px;
    margin-top: 10px;
    display: block;
    background-color: black;
    margin-left: 305px;
    border-style: ridge;
    position: relative;
}
.myface
{
    width: 250px;
    height: 450px;
    margin-left: 80px;
}
.aboutme h1
{
    color: aliceblue;
    position: absolute;
    top: 60px;
    right: 240px;
    margin: 10px;
}
#style
{
    position: absolute;
    top: 110px;
    right: 470px;
    display: block;
    background-color: aliceblue;
    width: 5px;
    height: 120px;
}
.aboutme p
{
    color: aliceblue;
    position: absolute;
    top: 120px;
    right: 100px;
    width: 350px;
}
.skils h1
{
    color: aliceblue;
    position: absolute;
    top: 260px;
    right: 300px;
    margin: 10px;
}
.skils ul
{
    color: aliceblue;
    position: absolute;
    top: 325px;
    right: 90px;
    width: 350px;
}
#style_skils
{
    position: absolute;
    top: 300px;
    right: 470px;
    display: block;
    background-color: aliceblue;
    width: 5px;
    height: 120px;
}
.education h1
{
    color: aliceblue;
    position: absolute;
    top: 420px;
    right: 230px;
    margin: 10px;
}
#style_education
{
    position: absolute;
    top: 500px;
    right: 470px;
    display: block;
    background-color: aliceblue;
    width: 5px;
    height: 120px;
}
.education p
{
    color: aliceblue;
    position: absolute;
    top: 500px;
    right: 100px;
    width: 350px;
}